$small: "480px";
$medium: "768px";
$large: "1024px";
$xlarge: "1200px";
$xxlarge: "1500px";

$font-text: "IBM Plex Sans", sans-serif;

$color-primary: #000;
$color-secondary: #fff;
$color-text: #202020;
$color-title-line: #5f27cd;
$color-links: #1e90ff;
