@import "config.scss";

.Information {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.Information__Details--displayFlex {
  display: flex;
}

.Information__ImageWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Information__Details-body {
  width: 50%;
}

.Information__Image {
  width: 50%;
  height: auto;
}

.Information__Table {
  border: 1px solid black;
  margin: 1rem 0;
}

.Information__Table-td {
  padding: 0.5rem 1rem;
  border: 1px solid black;
}

.Information__Table-th {
  border: 1px solid black;
}

.Information__ImageWrapper--widthInitial {
  width: initial;
  padding: 3rem 0;
}

.Information__Image--width {
  width: 100%;
}

.Information__ListItem {
  margin: 0 3rem;
  padding: 0.5rem 0;
  font-size: 0.875rem;
}

.Information__Details-description {
  margin: 0.5rem 0;
}

.Information__Details-title,
.subtitle {
  margin: 1rem 0;
}
