@import "config.scss";

.Faq__Container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.preguntas-question {
  display: block;
  background-color: #fafafa;
  color: #2a2a2a;
  padding: 12px 16px;
  margin-bottom: 12px;
  border: 1px solid #dbdbdb;
  font-size: 14px;
  border-radius: 4px;
}

.preguntas-subtitle {
  margin: 24px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #5f27cd;
  font-size: 12px;
}

.preguntas-answer {
  padding: 12px 16px;
  color: #2a2a2a;
  font-weight: normal;
  line-height: 1.5em;
  font-size: 14px;
  margin-bottom: 20px;
}
.preguntas-answer ul {
  padding-left: 30px;
  margin: 10px 0;
}
