@import "config.scss";

.Help__Container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.Help__Image {
  width: 10rem;
  height: 8rem;
}

.ayuda-container {
  display: flex;
  margin: 0 auto;
}

.ayuda-box {
  width: 50%;
  margin: 2rem 0.5rem;
  text-align: center;
  background-color: #fafafa;
  padding: 2rem 3rem;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.ayuda-box figure {
  text-align: center;
}

.ayuda-box figure img {
  width: 180px;
  height: auto;
}

.ayuda-box p {
  padding: 20px;
  line-height: 1.5em;
  font-size: 14px;
  font-weight: normal;
  color: #2a2a2a;
  min-height: 100px;
}

.ayuda-box a {
  display: inline-block;
  min-width: 120px;
  border-radius: 8px;
  background-color: #5f27cd;
  color: white;
  padding: 12px 18px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
}

.grupos-ayuda-container {
  display: flex;
}

.grupos-ayuda-container ul {
  list-style-type: none;
  width: 33%;
  margin: 0 20px;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.grupos-ayuda-container ul li {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  margin: 0 0 5px;
  color: #8898aa;
  line-height: 30px;
}

.grupos-ayuda-container ul li a {
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
  text-transform: initial;
  line-height: 20px;
  color: #8898aa;
}

.grupos-ayuda-container ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .image-program img {
    display: block;
    margin: auto;
  }
}
