@import "config.scss";

.Cuestionario__Container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

label {
  margin-left: 0.5rem;
}

fieldset {
  padding: 0px;
  margin: 0px;
  border: none;
}

.form-item-container,
fieldset {
  margin-bottom: 20px;
}

.form-item-label,
legend {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-item-input,
textarea {
  outline: 0;
  border: 1px solid #cccccc;
  width: 100%;
  display: block;
  padding: 5px 10px;
  height: 40px;
  border-radius: 5px;
}
.form-item-checkbox-flex {
  display: flex;
  flex-flow: row wrap;
}
.form-item-checkbox {
  flex: 1 0 25%;
  margin: 10px;
}

.form-button {
  background-color: tomato;
  color: white;
  padding: 8px;
  min-width: 120px;
  margin: 20px;
}

textarea {
  height: 80px;
}
