@import "config.scss";

.Doctors {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.Doctor__Details {
  width: 33%;
  padding: 1rem 1.5rem;
  &:last-of-type {
    padding-right: 0;
  }
  &:first-of-type {
    padding-left: 0;
  }
}

.Doctors__FirstRow {
  display: flex;
  justify-content: space-between;
}

.Doctor__Image {
  width: 100%;
  min-height: 315px;
}

.Doctor__Name {
  margin-top: 0.5rem;
}
