@import "config.scss";

.About {
  padding-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Header__logoWrapper {
  width: 100%;
}

.About__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.About__subtitle {
  margin: 1rem 0;
  font-size: 1.75rem;
}

.About__Synthoms {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}

.About__SynthomsContainer {
  display: flex;
}

.About__SynthomDetails {
  width: 33%;
}

.About__SynthomDetails--middle {
  padding: 0 2rem;
}

.About__SynthomDetails-title {
  font-size: 0.85rem;
}

.About__SynthomDetails-description,
.About__body {
  margin: 0.5rem 0;
}
