@import "config.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
  &::before,
  &::after {
    box-sizing: border-box;
  }

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: $font-text;
  width: 100%;
  height: 100%;
}

.body--overflowHidden {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-text;
}
