.Copy__body {
  font-size: 0.75rem;
  line-height: 1.5em;
  color: $color-text;
}

.Copy__header {
  font-size: 1.25rem;
  line-height: 1.5em;
}

.Copy__h1,
.Copy__h2,
.Copy__h3,
.Copy__h4,
.Copy__h5,
.Copy__h6 {
  letter-spacing: -0.025rem;
}

.Copy__h1 {
  font-size: 80px;
}

.Copy__h2 {
  font-size: 70px;
}

.Copy__h3 {
  font-size: 60px;
}

.Copy__h4 {
  font-size: 40px;
}

.Copy__h5 {
  font-size: 24px;
}

.Copy__h6 {
  font-size: 18px;
}

.Copy--uppercase {
  text-transform: uppercase;
}

.Copy--noLineHeight {
  line-height: 0.85em;
}

.Copy--justify {
  text-align: justify;
}

.Copy__Title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  position: relative;
  padding: 0.5rem 0;
}

.Copy__Title:after {
  content: "";
  height: 3px;
  width: 4rem;
  background-color: $color-title-line;
  position: absolute;
  bottom: 0;
  left: 0;
}
