@import "config.scss";

.Header {
  padding: 3rem 0;
}

.Header__title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.Header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header__logoWrapper {
  width: 50%;
  margin-top: 3rem;
}

.Header__logo {
  width: 100%;
}

.Header__nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
}

.Header__navLink {
  text-decoration: none;
  color: $color-links;
  font-size: 1rem;
  letter-spacing: 1px;
}
