@import "config.scss";

.Footer__Container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.Footer__text {
  font-size: 0.75rem;
  text-align: center;
  font-style: italic;
}
