@import "config.scss";

.Interaction__Container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.Interaction__Chat {
  width: 100%;
  height: 400px;
  margin: 0;
  overflow-y: scroll;
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 20px;
}

.Interaction__Controls {
  display: flex;
}

.Interaction__ChatMessage {
  width: 75%;
  height: 3rem;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  padding: 12px;
  outline: none;
}
.Interaction__ChatButton {
  width: 25%;
  border-radius: 4px;
  text-align: center;
  background-color: #5f27cd;
  color: #ffffff;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  border: none;
}

.Interaction__Chat-UserMessage {
  background-color: #5f27cd;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  max-width: 200px;
  font-size: 16px;
  text-align: left;
  &:nth-of-type(even) {
    background-color: #fafafa;
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 200px;
    font-size: 16px;
    margin-left: auto;
    text-align: right;
    color: $color-primary;
  }
}
