@import "config.scss";

.Programs__container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.Programs__ImageContainer {
  display: flex;
  margin: 3rem 0;
}

.Programs__ImageWrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Programs__Image {
  width: 50%;
}

.Programs__Details {
  padding: 1.5rem 0;
}

.Programs__Information {
  display: flex;
  padding: 1.5rem 0;
}

.Programs__h4Title {
  font-size: 1rem;
}

.Programs__ListItem {
  margin: 0 3rem;
  padding: 0.5rem 0;
}
